<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6426723216092180"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-format="autorelaxed"
  data-ad-client="ca-pub-6426723216092180"
  data-ad-slot="7307922640"
  data-matched-content-rows-num="3,1"
  data-matched-content-columns-num="1,3"
  data-matched-content-ui-type="image_card_sidebyside,image_stacked"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
