<div class="ad-container shadow">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6426723216092180"
    crossorigin="anonymous"
  ></script>
  <!-- display-rect -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-6426723216092180"
    data-ad-slot="9988258009"
    data-ad-format="horizontal"
    data-full-width-responsive="false"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
