<div class="panel-ads-border-cover z-3"></div>
<section
  id="panel-ads-wrapper"
  class="invisible position-sticky ps-0 pe-4 pb-4"
>
  <h2 class="panel-heading ps-3 pb-2 mb-0">Advertisement</h2>
  <div class="content ps-0 pb-1 ms-1 mt-2">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6426723216092180"
      crossorigin="anonymous"
    ></script>
    <!-- Side -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-6426723216092180"
      data-ad-slot="9663695074"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</section>
